
<h1>Привет от Влада всему Миру !!! </h1>

<p>
	Сейчас <%= @time %>
</p>
<p>
Отлетай очередняра 
<%= link_to "Всоляного ", say_goodbye_path %>!
</p>

<p>
<%= 1+2 %>  
<%= "cow"+"boy" %>
// 
<%= 1.hour.from_now %>
</p>